footer{
    width: 100%;
    height: 300px;
    background: #17203a;
    .full-footer{
        text-align: center;
        .footer{
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            .about-us{
                margin-top: 50px;
                h6{
                   
                    font-size: 20px;
                    font-weight: 700;
                    color: #fff;
                    text-align: left;
                    font-family: sans-serif;
                    margin-bottom: 8px;
                }
                p{
                    color: #667481;
                    font-size: 15px;
                    font-family: sans-serif;
                    line-height: 30px;
                    text-align: left;
                }
                .icons{
                    text-align: left;
                    margin-top: 10px;
                    a{
                        margin-right: 20px;
                        i{
                            color: #fff;
                            font-size: 15px;
                        }
                    }
                }
            }
            .contact-info{
                margin-top: 50px;
                h6{
                    font-size: 20px;
                    font-weight: 700;
                    color: #fff;
                    text-align: left;
                    font-family: sans-serif;
                    margin-bottom: 8px; 
                }
                ul{
                    margin-top: 20px;
                    li{
                        i{
                            margin-bottom: 30px;
                            font-size: 20px;
                            color: #fff;
                            text-align: left;
                            span{
                                margin-left: 10px;
                                font-size: 15px;
                                font-family: sans-serif;
                                font-weight: lighter;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}
.copyright{
    width: 100%;
    height: 100px;
    background: #18223e;
    .copy{
        
        p{
            display: inline-block;
            margin-top: 50px;
          color: rgba(255, 255, 255, 0.767);
          text-align:start;
          margin-left: 100px;
          font-size: 16px;
          font-family: sans-serif;
          
        }
    }
}